{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}


        <h1>Panier </h1>
    {% if items| length > 0 %}
        <table class="table">
            <thead>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{item.product.name}}</td>
                        <td>{{item.product.price/100}} €</td>
                        <td>
                            <a class="btn btn-sm btn-primary" href="{{ path("cart_decrement", {'id': item.product.id}) }}" >-</a>
                            <i class="fas fa-minus"></i>
                                {{item.qty}}
                            <a class="btn btn-sm btn-primary" href="{{ path("cart_add", {'id': item.product.id}) }}?returnToCart=true" >+</a>
                            <i class="fas fa-plus"></i>
                        </td>
                        <td>{{item.total /100}} €</td>
                        <td>
                            <a href="{{ path('cart_delete', {'id' : item.product.id}) }}" class="btn btn-sm btn-danger">
                                X    
                            </a>
                        </td>
                    </tr>
                {% endfor%}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total:</td>
                    <td colspan="3">{{total/100}} €</td>
                </tr>
            </tfoot>
        </table>
    {% else %}
     
  
        <h5>Votre panier est vide</h5> 
    {% endif %}
{% endblock %}
