{% extends "base.html.twig" %}

{% block title %} 
Catégorie : {{ slug }} 
{% endblock %}

{% block body %} 
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
  <li class="breadcrumb-item"><a href="{{ path('product_category', {'slug':category.slug}) }}">{{category.name}}</a></li> 
</ol>
<h1>Catégorie : {{ category.name }} </h1>

<div class='row'>
    {% for product in category.products %}
    <div class="col-3">
        <div class="card">
            <img src="{{ product.mainPicture }}" class="img-fluid" alt='chaise en bois'>
            <div class='card-body'>
                <h4 class="card-title">{{ product.name }} ({{ product.price/100 }}&euro;)</h4>

                <span class="badge badge-info">
                {{ product.category.name}}
                </span>
                <p class='card-text'>{{ product.shortDescription }}</p>
                <a href="{{ path('product_show' , {
                    'category_slug' : product.category.slug, 
                    'slug':product.slug
                    } ) }}" class="btn btn-primary btn-sm">Détails</a>
                <a href="{{ path('cart_add', { 'id':product.id})}}" class="btn btn-success btn-sm">
                    <i class="fas fa-shopping-cart"></i>
                    Ajouter au panier
                </a>
            </div>
        </div>
    </div>
    
        
    {% endfor  %}

</div>
{% endblock %}