{% extends "base.html.twig" %}

{% block title %}Formulaire contact{% endblock %}

{% block body %}
<div class="mx-auto col-md-6 mt-5">
	<h1>Contact</h1>

	{% for rubrique, messages in app.flashes %}
	
	<div class="alert alert-{{rubrique}}">
		{% for message in messages %}
			<p>{{message}}</p>
		{% endfor %}
	</div>
	{% endfor %}
	{{ form_start(formView) }}

	{{ form_errors(formView) }}

	{#{ form_widget(formView) }#}


	{{ form_row(formView.nom) }}
	{{ form_row(formView.prenom) }}
	{{ form_row(formView.telephone) }}
	{{ form_row(formView.email) }}
	{{ form_row(formView.message) }}
	{{ form_row(formView.brochure) }}
	
	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save"></i>Envoyer
	</button>


	{{ form_end(formView) }}

</div>
{% endblock %}
