<h1>Message</h1>

<h2>Détails du message</h2>

<ul>
<li>Nom : {{ contact.nom }}</li>
<li>Preom : {{ contact.prenom }}</li>
<li>Telephone : {{ contact.telephone }}</li>
<li>Email : {{ contact.email }}</li>
<li>Message : {{ contact.message }}</li>

</ul>