
<h1>Contact</h1>

<h2>Détails du message du formulaire de Contact</h2>

<ul>
<li>Nom : {{ contact.nom }}</li>
<li>Prenom : {{ contact.prenom }}</li>
<li>Telephone : {{ contact.telephone }}</li>
<li>Email : {{ contact.email }}</li>
<li>Message : {{ contact.message }}</li>

</ul>