{% extends "base.html.twig" %}
 
{% block title %}Produits{% endblock %}

{% block body %}
 
<h1>Nos produits phares</h1>
<div class='row'>
    {% for product in products %}
    <div class="col">
        <div class="card">
            <img src="{{ product.mainPicture }}" class="img-fluid" alt='chaise en bois'>
            <div class='card-body'>
                <h4 class="card-title">{{ product.name }} ({{ product.price/100 }}&euro;)</h4>

                <span class="badge badge-info">
                {{ product.category.name}}
                </span>
                <p class='card-text'>{{ product.shortDescription }}</p>
                <a href="" class="btn btn-primary btn-sm">Détails</a>
                <a href="" class="btn btn-success btn-sm">Ajouter</a>
            </div>
        </div>
    </div>
    {% endfor%}
</div>
<hr>

{% endblock %}
